html, body {
  font-family: 'mono';
  font-size: 20px;
  height: 100%;
  background-color: #111;
  color: #aaa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Standard syntax */
}

button {   
 -webkit-tap-highlight-color: transparent;
  width: 100%;
  padding: 10px;
  background-color: #111;
  color: #aaa;
  border: 1px solid #555;
  border-radius: 5px;
  cursor: pointer;
  font-size: 100%;
}
button:hover {
  background: #444;
}
button:active {
  background-color: black;
  color: white;
}
button:disabled {
  color: #222;
  background-color: #000;
  pointer-events: none;
}
input, select {
  padding: 10px;
  font-size: 20px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #111;
  color: #aaa;
}
input:focus {
  outline: none;
  border-color: #777;
}
